@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    scroll-behavior: smooth !important;
}
body{
    margin: 0;
    padding: 0 0;
    background-color: #f5f5f5;
    transition: all .3s ease;
    font-family: 'Roboto', sans-serif;
}

body.activo{
    background-color: #111111;
    color: white;
}

header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 1rem;
}

.titulo h1{
    font-family: 'Bangers', cursive;
    letter-spacing: 5px;
    white-space: nowrap; 
    overflow: hidden; 
    border-right: .15em solid; 
    animation: typing 1s steps(40) 1s 1 normal both, blink 1s 2 steps(1);
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}


@keyframes blink {
    50% { border-color: transparent; }
}

.navegacion nav a button{
    font-size: 1rem;
    font-weight: 500;
    border: solid 1px transparent;
    background-color: #f5f5f5;
    border-radius: .2rem;
    padding: 1rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
}

body.activo .navegacion nav a button{
    background-color: #111111;
    color: white;
}


body.activo .navegacion nav a button:hover{
    color: red;
}

.panel{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow:auto;
    word-wrap: break-word;
    margin-left: 1rem;
    position: fixed;
    z-index: 999;
    width: 30%;
    background-color:#f5f5f5 ;
    border-radius: 1rem;
    padding: 2rem;
    top: 30px;
    bottom: 30px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: transform .3s ease;
    transform: translate(-105%,0);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

body.activo .panel{
    background-color: #222222;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.panel.activo{
    transform: translate(0,0);
}

.panel h2{
    text-align: center;
    padding-top: 9rem;
    padding-bottom: .5rem;
    margin: 0;
}

.cv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv a{
    padding-top: 2rem;
    width: 80%;
}

.descargarcv{
    width: 100%;
    height: 6vh;
    background-color: red;
    color: white;
    border: none;
    margin-top: 1.5rem;
    padding: 1rem 1rem;
    border-radius: .5rem;
    border: solid 1px red;
    cursor: pointer;
    transition: all .3s ease;
    text-align: center;
}

.descargarcv:hover{
    color: black;
    background-color: #f5f5f5;
    border: solid 1px red;
}




.navegacion nav a button:hover{
    color: red;
    border-bottom-color:red;
    transform: translateY(-3px)
}
#oscuro {
    font-size: 2rem; 
    position: relative;
    animation: escala 1.5s 3 ease-in-out ;
}

@keyframes escala{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

#oscuro:hover {
    color: white;
    border-bottom-color:white;
    transform: scale(1.3)
}

body.activo #oscuro:hover{
    border-bottom-color: #111111;
}

.presentacion{
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}



.presentacion .img-principal img{
    width: 20rem;
    height: 20rem;
    position: relative;
    animation: izquierda 1.5s forwards;
}

@keyframes izquierda {
    0% {
        transform: translateX(100%);
        opacity: 0; 
    }
    100% {
        transform: translateX(0); 
    }
}



 .img-principal h2{
    font-family:'Bangers', cursive;
    letter-spacing: 5px;
    animation: derecha 1.5s forwards;
}

@keyframes derecha {
    0% {
        transform: translateX(-100%); 
    }
    100% {
        transform: translateX(0); 
    }
}


.img-principal{
    padding-top: 9rem;
    text-align: center;
}

.img-principal h2{
    font-size: 2rem;
    text-align: center;
}

.frontend{
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
}

.presentacion2{
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.mision{
    width: 50%;
}

.mision p{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    animation: letras 1.5s forwards;
}

@keyframes letras {
    0% {
        transform: translateX(100%); 
    }
    100% {
        
        transform: translateX(0); 
    }
}


.redes{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 4rem;
    padding-top: 2rem;
    cursor: pointer;
}

svg{
    transition: all 0.3s ease;
}
.redes svg:hover{
    transform: scale(1.3);
}

.contenido{
    position: relative;
}

.titulo-contenido{
    font-family: 'Bangers', cursive;
    letter-spacing: 5px;
    margin-top: 10rem;
    text-align: center;

}

.esenas{
    display: flex;
    align-items: center;
    width: 100%;
    height: 75vh;
   /*background-color: #f5f5f5;*/
    border-radius: 1rem;
    flex-wrap: nowrap;
    overflow: auto;
    scroll-behavior: smooth;
    /*border: solid 2px;*/
}

.esenas::-webkit-scrollbar{
    display: none;
}

.card{

    box-sizing: border-box;
    flex: 0 0 auto;
    margin: 2rem;
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.card-proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;   
}

.proyect{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    width: 20%;
    height: 50%;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.proyect i{
    color: #a8a8a8;
    font-size: 9rem;
}



.card-servicios{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.tarjetas{
    background-color: #f5f5f5;
    padding: 1rem 1rem;
    max-width: 20%;
    height: 90%;
    border-radius: .5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all .3s ease;
    overflow:auto;
}

.tarjetas img {
    width: 100%;
    height: 365px;

}
.tarjetas h3{
    margin:0;
}

.tarjetas p{
    margin: 0;
    padding: 0;
}




body.activo .tarjetas{
    background-color: #222222;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}





body.activo .card{
    background-color: #222222;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}


body.activo .card-proyectos{
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}


.izquierda{
    position: absolute;
    border: none;
    left: 0;
    top: 50%;
    border-radius: 1rem;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(173, 216, 230, 0.2), 0 6px 20px 0 rgba(173, 216, 230, 0.19);
}

.derecha{
    margin-right: 1rem;
    position: absolute;
    border: none;
    right: 0;
    top: 50%;
    border-radius: 1rem;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(173, 216, 230, 0.2), 0 6px 20px 0 rgba(173, 216, 230, 0.19);
}



.derecha:hover{
    transform: scale(1.3);
}
.izquierda:hover{
    transform: scale(1.3);
}



.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    width: 100%;
    height: 90vh;
    background-color: #f5f5f5;
    border-radius: 1rem;
    gap: 40px;
}

body.activo .formulario{
    background-color: #111111;
    color: #fff;
}

.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

body.activo .mapa{
    background-color: #222222;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
.mapagoogle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 100%;
}

.mapagoogle iframe{
    border-radius: 1rem;
    width: 100%;
    height: 60%;
}

.mapagoogle p{

    padding: 1rem 1rem;
}



.formulario1{
    width: 40%;
    height: 90%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

body.activo .formulario1{
    background-color: #222222;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.titulo-formulario{
    padding-top: 4rem;
    text-align: center;
    font-family:'Bangers', cursive;
    letter-spacing: 5px;
}

.nombres{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    gap: 40px;
}


.name{
    padding: 0 1rem;
    width: 54%;
    height: 4.5vh;
    border-radius: .5rem;
    border: solid 1px;
}

body.activo .name{
    background-color: #333333;
    color: #f5f5f5;
}


.correo{
    display: flex;
    justify-content: center;
    align-items: center;
}


.email{
    width: 54%;
    margin-top: 1.5rem;
    padding: 1rem 1rem;
    border-radius: .5rem;
    border: solid 1px;
}

body.activo .email{
    background-color: #333333;
    color: #f5f5f5;
}




.mensaje{
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto{
    width: 54%;
    height: 5vh;
    margin-top: 1.5rem;
    padding: 1rem 1rem;
    border-radius: .5rem;
    border: solid 1px;
}

body.activo .texto{
    background-color: #333333;
    color: #f5f5f5;
}

.boton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.enviar{
    width: 59%;
    height: 6vh;
    background-color: red;
    color: white;
    border: none;
    margin-top: 1.5rem;
    padding: 1rem 1rem;
    border-radius: .5rem;
    border: solid 1px red;
    cursor: pointer;
    transition: all .3s ease;
}



.enviar:hover{
    color: black;
    background-color: white;
    border: solid 1px red;
}

body.activo .enviar:hover{
    color: red;
    background-color: #333333;
}



footer {
    box-sizing: border-box;
    width: 100%;
}

.footer-bottom {
    background-color: #222222;
    text-align:start;
    padding: 10px 0;
    color: #fff;
    > p{
        padding-left: 5rem;
    }
}

